<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">Medium Article Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="savedBtn" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Medium Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item dropdown-active" href="#" data-name="javascript">Javascript Articles</a>
                    <a class="dropdown-item" href="#" data-name="Node.js">Node.js Articles</a>
                    <a class="dropdown-item" href="#" data-name="programming">Programming Articles</a>
                    <a class="dropdown-item" href="#" data-name="software-engineering">Software-Engineering Articles</a>
                    <a class="dropdown-item" href="#" data-name="cybersecurity">Cybersecurity Articles</a>
                    <a class="dropdown-item" href="#" data-name="data-science">Data Science Articles</a>
                </div>
            </li>
            <form class="form-inline">
                <button class="btn btn-light" id="scrapeBtn" type="button">Scrape!</button>
            </form>
        </ul>
    </div>
    <!-- Navbar content -->
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center" id="titleDiv">
        <h1 class="display-4" id="title">{{mainTitle}}</h1>
        <p class="lead" id="subtitle">{{subtitle}}</p>
    </div>
</div>
<!-- this will hold the regular (unsaved) articles when they get called in -->
<div class="container col-lg-8 justify-content-center" id="articles">
{{> regular}}
</div>
<!-- this will hold the saved articles when they get called in -->
<div class="container col-lg-8 justify-content-center" id="savedArticles">
{{> saved}}
</div>
<!-- this modal will hold all comments -->
<div class="modal" tabindex="-1" role="dialog" id="comments">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" id="commentBox">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="commentBoxTitle">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="notesDiv">
                    <!-- this is where the comment divs will get appended -->
                </div>
            </div>
            <div class="modal-footer">
                <form class="container-fluid">
                    <div class="form-group row">
                        <label for="commentTextInput">Your Comment: </label>
                        <textarea name="userComment" class="form-control" id="commentInput" rows="2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="commentSubmit">Add Comment</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>