#scrapeBtn {
    margin-left: 15px;
}

#titleDiv {
    color: white;
    font-weight: stronger;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#title {
    font-size: 100px;
}

#subtitle {
    font-size: 20px;
}

.saveArticle {
    float: right;
}

.saved {
    float: right;
    background-color: red;
}

.dropdown {
    margin-left: 300px;
}

.jumbotron {
    background-image: url("img/coffee-books.jpg");
    background-size: cover;
    height: 600px;
}

.card {
    margin: 15px 0px;
}
